[submodule "themes/42signals-pelican-theme"]
	path = themes/42signals-pelican-theme
	url = git@github.com:lqez/42signals-pelican-theme.git
[submodule "plugins/pelican-embed-tweet"]
	path = plugins/pelican-embed-tweet
	url = git@github.com:lqez/pelican-embed-tweet.git
